---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Motivation';

const api_key = import.meta.env.API_KEY;
const catapi_raw_data = await fetch(`https://api.thecatapi.com/v1/images/search?limit=4&api_key=${api_key}`);
const catapi_json = await catapi_raw_data.json();

const pageTitle = "The Cat Gallery";
---

<BaseLayout pageTitle={pageTitle}>
	<h2>My amazing webpage</h2>

	<div class="cat-collage-wrapper">
		<div class="cat-collage-tracker">
			<img src={catapi_json[0].url} >
			<img src={catapi_json[1].url} >
			<img src={catapi_json[2].url} >
			<img src={catapi_json[3].url} >
			<img src={catapi_json[0].url} >
			<img src={catapi_json[1].url} >
			<img src={catapi_json[2].url} >
			<img src={catapi_json[3].url} >
		</div>
	</div>

	<Greeting client:load messages={["You are purrfect", "You can do it", "Meow or never, lock in", "You are very claw-ver"]} />

	<p> This website was created to see some cute cats and make you smile :) </p>

	<p> In the Cat Gallery you can also read posts written by the amazing Larry. </p> 
</BaseLayout>

<style>
	button {
		display: block;
		text-align: center;
		font-weight: bold;
		padding: 10px 0;
		font-size: 1.2rem;
		text-transform: uppercase;
	}

	/* -- Cat Collage Marquee Effect -- */
	.cat-collage-wrapper {
		overflow: hidden; 
	}

	.cat-collage-tracker {
		display: flex;
		width: max-content;
		animation: scroll 10s linear infinite;
	}

	img {
		width: 200px;
		margin: 0 10px 0 10px;
		border-radius: 10px;
		object-fit: contain; 
	}

	@keyframes scroll {
		from { transform: translateX(0); }
		to { transform: translateX(-50%); }
	}
</style>